<!DOCTYPE html>
<html>
<head>
    <title>Добавление</title>
    <link rel="icon" type="image/ico" href="/favicon.ico" />
    <meta charset="utf-8" />
</head>
<body>
    <h1>Добавление</h1>
     
    <form method="post" enctype="multipart/form-data">
        <input required type="text" placeholder="Name" name="name" autocomplete="off"></br>
        <input required type="number" placeholder="M" name="stats[]" autocomplete="off">
        <input required type="number" placeholder="BS" name="stats[]" autocomplete="off">
        <input required type="number" placeholder="WS" name="stats[]" autocomplete="off">
        <input required type="number" placeholder="S" name="stats[]" autocomplete="off">
        <input required type="number" placeholder="T" name="stats[]" autocomplete="off">
        <input required type="number" placeholder="W" name="stats[]" autocomplete="off">
        <input required type="number" placeholder="A" name="stats[]" autocomplete="off">
        <input required type="number" placeholder="L" name="stats[]" autocomplete="off">
        <input required type="number" placeholder="SV" name="stats[]" autocomplete="off">
        </br><label>Добавь картинку!</br>
            <input type="file" name="photo">
        </label>
        <input type="submit" value="Добавить">
    </form>

</body>
<html>